/* 行为相关颜色 */
$color-primary: #007aff;
$color-success: #4cd964;
$color-warning: #f0ad4e;
$color-error: #dd524d;

/* 文字基本颜色 */
$text-base: #333; //基本色
$text-inverse: #fff; //反色
$text-grey: #999; //辅助灰色，如加载更多的提示信息
$text-placeholder: #808080;
$text-disable: #c0c0c0;
$text-icon: #a1a1a1;

/* 背景颜色 */
$bg-base: #ffffff;
$bg-grey: #f8f8f8;
$bg-black: #1e1e1e;
$bg-mask: rgba(0, 0, 0, 0.4); //遮罩颜色

/* 边框颜色 */
$border-base: #ebebeb;

/* 文字尺寸 */
$font-size-sm-ss: 16upx;
$font-size-sm-s: 20upx;
$font-size-sm: 24upx;
$font-size-base: 28upx;
$font-size-lg: 32upx;
$font-size-lg-l: 36upx;
$font-size-lg-ll: 40upx;

/* 图片尺寸 */
$img-size-sm: 40upx;
$img-size-base: 52upx;
$img-size-lg: 80upx;

/* Border Radius */
$border-radius-sm: 4upx;
$border-radius-base: 6upx;
$border-radius-lg: 12upx;
$border-radius-circle: 50%;

/* 水平间距 */
$spacing-row-sm: 10px;
$spacing-row-base: 20upx;
$spacing-row-lg: 30upx;

/* 垂直间距 */
$spacing-col-sm: 8upx;
$spacing-col-base: 16upx;
$spacing-col-lg: 24upx;

/* 透明度 */
$uni-opacity-disabled: 0.3; // 组件禁用态的透明度

/* 文章场景相关 */
$text-title: #2c405a; // 文章标题颜色
$font-size-title: 40upx;
$text-subtitle: #555555; // 二级标题颜色
$font-size-subtitle: 36upx;
$text-paragraph: #3f536e; // 文章段落颜色
$font-size-paragraph: 30upx;
